<div id="<%= dom_id movement %>">
  <p>
    <strong>Author:</strong>
    <%= movement.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= movement.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

</div>
