<div class='header'>
<%= link_to user_group_path(@group.author.id, @group.id) do %>
    <%= image_tag 'left-arrow.png', alt: 'left-arrow', class: 'return-arrow' %>
<% end %>
<h2 class='header-text'>New movement</h2>
</div>

<%= render "form", movement: @movement %>
