<div class='header'>
<%= link_to root_path do %>
    <%= image_tag 'left-arrow.png', alt: 'left-arrow', class: 'return-arrow' %>
<% end %>
<h2 class='header-text'>New category</h2>
</div>

<%= render "form", group: @group %>
